.add {
  background-color: var(--seagull-950);
  transition: background-color 0.25s, border-color 0.25s;
}

.add:hover {
  background-color: var(--seagull-500);
  border-color: var(--seagull-500);
}

.remove {
  background-color: transparent;
  color: var(--wild-sand-600);
  border: 1px solid;
}

.remove:hover {
  border-color: var(--seagull-500);
}

.ButtonsContainer {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
